body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* Use the background property for gradients */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: white;
  border-bottom: 3px solid black;
}

.logo-svg {
  width: 250px; /* Adjust as needed */
  padding-left: 47px;
}

nav {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-right: 47px;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  padding-left: 75px;
  padding-right: 75px;
  color: black;
}

.get-app-btn {
  background-color: white; /* Adjust color as needed */
  color: blue;
  border: 3px solid blue;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 75px;
}

.main-content {
  position: relative;
  width: 85vw;
  margin: 0 auto;
}

.main-content-svg {
  width: 85vw;
  padding-left: 40px;
  height: auto;
  margin-left: 50px;
}

.interactive-elements {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

.username-input,
.password-input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
}

#level-up-button:hover {
  cursor: pointer;
}

.main-content {
  background-image: linear-gradient(
    62deg,
    #4bd7d1 2.03%,
    #fac574 49.55%,
    #6f2bff 100%
  );
}
